<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
<head>
    <meta charset="UTF-8">
    <title>MyTrip</title>
    <base href="/">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>



  <div class="container" ng-controller='navCtrl'>
   <div class='navbar navbar-inverse'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref='home'>MyTrip</a>
    </div>
    <div class="collapse navbar-collapse" ng-if='!logged'>
    <ul class="nav navbar-nav navbar-right">
        <li ng-class="{ active: isActive('register')}"><a ui-sref='register'>Register</a></li>
    </ul>
    </div><!--/.nav-collapse -->
    <div class="collapse navbar-collapse" ng-if='logged'>
    <ul class="nav navbar-nav navbar-right">
        <li ng-class="{ active: isActive('main')}"><a ui-sref='main'>Main</a></li>
        <li ><a ui-sref='home'>Logout</a></li>
    </div><!--/.nav-collapse -->
  </div>
</div>


<ui-view></ui-view>





<script
			  src="https://code.jquery.com/jquery-2.2.4.js"
			  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
			  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!--Angular files-->
<script src="/angular/angular.js"></script>
<script src="/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/angular-messages/angular-messages.js"></script>

<!--App.js-->
<script src="/app.js"></script>

<!--Controllers-->
<script src="/js/controllers/homeCtrl.js"></script>
<script src="/js/controllers/regCtrl.js"></script>
<script src="/js/controllers/mainCtrl.js"></script>
<script src="/js/controllers/navCtrl.js"></script>

<!--Components-->

<!--Services-->
<script src="/js/services/auth-service.js"></script>
</body>
</html>
