<div class="container-fluid main-page">
    <nav></nav>
    <div class="jumbotron text-center main-jumbo">
        <h1>MyTrip</h1>
        <h2>Start a new trip or edit an existing one</h2>
        <h3 ng-if='(ctrl.allTrips.length) === 1'>You have {{ctrl.allTrips.length}} Trip</h3>
        <h3 ng-if='(ctrl.allTrips.length) !==1'>You have {{ctrl.allTrips.length}} Trips</h3>

        <table class="table custab">
    <thead>
<!--       <a ng-href='#/map'><button class="btn btn-primary pull-right">New Trip</button></a>-->
        <tr>
            <th class="text-center">Created</th>
            <th class="text-center">Total markers set</th>
            <th class="text-center">Total Distance between markers</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
            <tr ng-repeat="trip in ctrl.allTrips">
                <td> {{trip.created}} </td>
                <td> {{trip.coords.length}} </td>
                <td> {{(trip.distance/1000).toFixed(1)}} km</td>
                <td class="text-center">
                    <a class='btn btn-custom' ng-href="#/edit/{{trip._id}}">
                    <span class="glyphicon glyphicon-edit"></span>Edit</a>
                    <a ng-click="ctrl.delete(trip)" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>Del</a>

                </td>
            </tr>
    </table>
      </div>
    <footer></footer>
</div>

