.custab{
/*    height: 100%;*/
    border: 1px solid #ccc;
    padding: 5px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }
.check .modalchange{
    text-decoration: none;
    color: white;
}
.main-page{
    min-height: 100vh;
    position: relative;
    background: url(/images/bg.png) 50% 50% repeat;
    background-size: cover;
}
.main-jumbo{
    margin-top: 70px;
    background-color: rgba(0, 0, 0, 0.33);
    color:white;
}
