#leafmap2{
    height: 700px;
}

.editTrip{
    position: absolute;
    z-index: 9999;
    bottom:0px;
}
.edit-page{
    min-height: 100vh;
    position: relative;
    background: url(/images/bg.png) 50% 50% repeat;
    background-size: cover;
}
.edit-jumbo{
    margin-top: 70px;
    color:white;
    background-color: rgba(0, 0, 0, 0.28);
}
.modal-body{
    font-size:20px;
    text-align: center;
}
