<div class="container-fluid home">
    <nav></nav>
    <div class="jumbotron text-center home-title">
        <h1>MyTrip</h1>
        <h2>Where every trip counts</h2>
    </div>
    <section id="login">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-wrap">
                    <h1>Log in with your email account or register to enjoy MyTrip</h1>
                        <form  ng-submit='ctrl.login()' id="login-form">
                            <div class="form-group">
                                <label for="email" class="sr-only">Email</label>
                                <input type="email" ng-model='ctrl.user.email' name="email" id="email" class="form-control" placeholder="somebody@example.com" required>
                            </div>

                            <div class="form-group">
                                <label for="key" class="sr-only">Password</label>
                                <input type="password" ng-model='ctrl.user.password' name="key" id="key" class="form-control" placeholder="Password" required>
                            </div>

                            <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Log in">

                            <a ng-href='#/register' id='btn_register'>

                            <button type="button" id="btn-register" class="btn btn-custom btn-lg btn-block" value="Register">Register</button>

                        </form>
                        <a href ng-click='ctrl.forgotPassword()' class="forget">Forgot your password?</a>
                        <hr>
                    </div><!--form wrap-->
                </div> <!--col-xs-12-->
            </div><!--row-->
        </div> <!--container-->
    </section> <!--end of login section-->
<footer></footer>
</div><!--container fluid-->
